*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* BODY */
body{
    display: flex;
    min-height: 100vh;
    background: #f5f6fa;
}

/* SIDEBAR */
.sidebar{
    width:240px;
    height:100vh;
    background:#0c2344;
    color:white;
    position:fixed;
    left:0;
    top:0;
    padding:20px 0;
}

.logo{
    display:flex;
    align-items:center;
    gap:12px;
    padding:0 20px 30px;
}

.logo i{
    font-size:35px;
    color:#f7c948;
}

.logo h2{
    font-size:18px;
}

.logo p{
    font-size:12px;
    color:#bbb;
}

.menu{
    list-style:none;
}

.menu li{
    margin:8px 12px;
}

.menu li a{
    text-decoration:none;
    color:white;
    display:flex;
    align-items:center;
    gap:12px;
    padding:14px;
    border-radius:10px;
    transition:0.3s;
    font-size:15px;
}

.menu li a:hover{
    background:#1e4fa8;
}

.menu li.active a{
    background:#2b6de9;
}

.logout{
    margin-top:40px;
}
/* MAIN CONTENT */
.container{
    margin-left: 260px;
    width: calc(100% - 260px);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* FORM BOX */
.form-box{
    width: 400px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-box h2{
    text-align: center;
    margin-bottom: 20px;
}

/* INPUTS */
input{
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}

input:focus{
    border-color: #2b6de9;
}

/* BUTTON */
button{
    width: 100%;
    padding: 12px;
    background: #2b6de9;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover{
    background: #1d57c0;
}